@charset "utf-8";
/* html{
	height: 100%;
} */
html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	/* background: #FFFFEE; */
	/* background: #4ABDAC; */
	background-image: url(../bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 12px;
	overflow: auto;
}
#intro{
position: fixed;
text-align:center;
padding:10px 20px;
background:#F7B733;
width:160px;
top:100px;
left:150px;
border-radius:25px;
font-family: "Helvetica", "Tahoma", "Arial";
font-weight: bold;
font-size: 20px;
letter-spacing: 1px;
color: #DFDCE3;
}
#mainDiv{
	width: 100%;
	height: 100%;
	background: rgba(74,189,172,0.65);
	/* -webkit-mask-image: linear-gradient(transparent 50%); */
}

#loveHeart {
	float: right;
	width:670px;
	height:625px;
	margin-top:50px;
}

#garden {
	width: 100%;
	height: 100%;
}

#elapseClock {
	text-align: center;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 10px;
	/*margin-right: 15px;*/
}

#words {
	font-family: "sans-serif";
	/*font-family: "brush";*/
	width: 500px;
	font-size: 24px;
	/* color:#666; */
	color:#DFDCE3;
}

#messages{
	font-family: "brush";
	display: none;
	font-size: 36px;
	/* color: #F7B733; */
}

#elapseClock .digit{
	font-family: "digit";
	font-size: 36px;
	/* color: #DFDCE3; */
}

#loveu{
	font-family: "brush";
	padding: 5px;
	font-size: 30px;
	margin-top: 30px;
	margin-right: 120px;
	text-align: right;
	display: none;
}

#loveu .signature{
	font-family: "brush";
	/* margin-top: 10px; */
	font-size: 30px;
	font-style: italic;
}

#clickSound{
	display:none;
}

#code {
	float: left;
	width: 440px;
	height: 400px;
	/* color: #333; */
	color:#DFDCE3;
	font-family: "Consolas", "Monaco", "Courier New", "sans-serif";
	/*font-family: "brush";*/
	font-size: 18px;
	line-height: 2;
}

#code .string{
	/* color: #2a36ff; */
	color: #B67FB6;
}

#code .keyword{
	/* color: #7f0055; */
		/* color: #DFDCE3; */
		color:#F7B733;
	font-weight:bold;
}

#code .placeholder{
	margin-left:120px;
	font-size: 24px;
}

#code .space{
	margin-left:7px;
}

#code .comments{
	/* color: #3f7f5f; */
	/* color: #F7B733; */
	color: #B67FB6;
}

#copyright{
	/* margin-top: 10px; */
	text-align: center;
	width:100px;
	position: absolute;
	left: 92%;
	bottom:10px;
	/* color:#666; */
}

#errorMsg{
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 100px;
	left:0px;
}

#copyright a{
	color:#666;
}
#audio{
	position: fixed;
	bottom:30px;
	left:50px;
}
